<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.extra.author.name }}">
    <title>{{ config.title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha256-2H3fkXt6FEmrReK448mDVGKb3WW2ZZw35gI7vqHOE4Y=" crossorigin="anonymous">

    <link href="{{ config.base_url }}/style.css" rel="stylesheet">

</head>

{% set home_url = get_url(path="/") %}
{% set blog_url = get_url(path="/blog") %}

<body role="document" id="home">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ home_url }}">
                {{ config.title }}
            </a>

            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ home_url }}#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ blog_url }}">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% set reclame = get_page(path="reclame.md") %}
    {% set about = get_page(path="about.md") %}

    <div class="p-5 mb-4 bg-danger text-white">
        <div class="container container-fluid py-5">
            <div class="row">
                {% if reclame.extra.fa %}
                <div class="col-md-2 text-center">
                    <span class="h-resp-fa">
                        <i class="{{ reclame.extra.fa.class }}"></i>
                    </span>
                </div>
                {% endif %}
                <div class="col">
                    <h1 class="display-2">{{ reclame.title }}</h1>
                    <p class="lead">{{ reclame.description }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="container-fluid py-5">
            {{ reclame.content | safe }}
        </div>

        <div class="container-fluid py-5" id="about">
            <div class="mb-4">
                <h1 class="display-4">{{ about.title }}</h1>
            </div>
            <div class="page">
                {{ about.content | safe }}
            </div>
        </div>
    </div>
    {% endblock content %}

    <footer class="bg-dark text-center text-lg-start text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Legals</h5>

                    <p>
                        <em>Prime Type Ltd</em> is a limited company registered in
                        <em>England and Wales</em>.<br>
                        <em>Registration number&nbsp;10597758</em>.<br>
                        <em>VAT registration number&nbsp;295196950.</em>
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Write to us</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:info@primetype.co.uk" class="text-white">
                                <i class="fas fa-at fa-fw fa-sm me-2"></i>
                                info@primetype.co.uk
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/primetype" target="_blank" class="text-white">
                                <i class="fab fa-github fa-fw fa-sm me-2"></i>
                                Check us out on github
                            </a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            Copyright
            <i class="far fa-copyright"></i>
            2017-2021 Prime Type Ltd
            <br>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>