<section class="mbr-section article mbr-parallax-background mbr-after-navbar" id="msg-box8-p" style="background-image: url(/assets/images/desert.jpg); padding-top: 200px; padding-bottom: 160px;">
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(34, 34, 34);">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-xs-center">
        <h3 class="mbr-section-title display-2">
          $title$
        </h3>
        <div class="lead">
          <p>
            $description$
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section article mbr-section__container" id="content1-q" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        $body$
      </div>
    </div>
  </div>
</section>
